<ion-view view-title="Body, Soul & Spirit" style="background:#fff; text-align: justify;">
	<ion-content >
	
		<img src="img/bss.jpg" class="home_img">
				 <a href="#" class="button button-full button-positive" style="margin-top:0px !important; margin-bottom:5px !important" onclick="window.open('http://gemmagazines.net/bss/product/body-soul-spirit-2015/', '_self', 'location=yes'); return false;">
                                          GET YOUR TICKET NOW                   </a> 
	 <ion-scroll direction="y" style="height: 400px">
		<div style="background:#f2f2f2; padding:5px 10px 5px 10px; color:#00f; text-align: justify; font-style: italic;">
			I'm super-excited to invite you to the 9th edition of Body, Soul & Spirit. It has been an amazing journey so far! And, God has been awesome to the entire BSS Family!<br/>
I'm pleased to declare that it's a season of newness! The old is giving way for the new! Every old pattern, cycle or experience that has left you weary, battered and broken is being replaced with newness!<br/>

You might have endured pain, it's time for healing! You might have mourned; it's time to receive comfort! You might have been broken and battered, it's time for restoration! Where lack once reigned, it's time for abundance!<br/>

Shed the old garment of despair, discouragement and depression, become the new wineskin that God might fill you to the overflow with grace, strength, blessings and opportunities.
God is mindful of you! His thoughts towards you are of good, not of evil. Your present and future are secured in Him!
<br/>
Join us at BSS 2015, as we get empowered and launch into a greater phase of newness!
<br/>
Can you hear the sound of abundance of rain? It's a new season for you! A season of victory, rest and miracles! Join the joyous crowd at BSS 2015!<br/>

I look forward to hosting YOU!
<br/>
Bolanle Olawale
		</div>
		<div style="padding:5px 10px 5px 10px; margin-bottom:200px">
			<h4>About Us</h4>
<p>Body, Soul & Spirit is a platform for transforming lives, fortifying the dignity of womanhood and raising change agents. BSS, as it is fondly called, is an annual women's event pioneered in 2007, as a platform for energizing, inspiring and empowering women to aspire for greatness. The event affords women an opportunity to take time out of their busy schedule to gain the focus, insights and empowerment needed to live maximally and become all that God has ordained to be.
Women have the honor of fulfilling many roles, which usually translates into an unending schedule. This can get overwhelming, as they are submerged in the grind of everyday demands, which could make it rather daunting to dream, sharpen their edge or pursue the fulfilment of their dreams. This could lead to settling for less, merely existing or settling into a state of mediocrity and despondence. Hence, Body, Soul & Spirit provides an avenue for projecting God's counsel for women, countering negative conditioning and empowering women to demand more from life, while maximally fulfilling their purpose.</p>
<p>The event usually features activities packaged to provide physical, mental, spiritual and emotional reinvigoration and empowerment for participants. There have been a truly overwhelming influx of positive commendations and testimonies of changed lives.
</p>
<p> One of many astounding testimonies is of a woman, who had spent 13 years taking care of her autistic child. She seemingly had lost the verve or desire to live for more. She had become immersed in the day to day demands of taking care of her sick child, that it felt as if she merely existed. Life had lost its color for her. Then, she attended an edition of Body, Soul & Spirit and the desire to live maximally was stirred in her spirit. She made up her mind that she would not be confined by her problems to live a life of mediocrity. She started a business and began to live a fuller life.
</p>
<p>At Body, Soul & Spirit, women by the power of God are set at liberty to break free from limitations, delays and mediocrity. Testimonies of fruitfulness, fulfilment of marital destiny, financial breakthrough, career upliftment, etc. abounds.</p>
<p>Highlights of the event include- enlightening presentations, powerful prayer sessions, discussion/talk forums, makeover sessions, comedy, games, spirit lifting worship, and impactful ministrations, amongst others.</p>
<p>BSS is always highly anticipated by women from all over the country, and it has consistently witnessed an ever increasing attendance, from 150 women at inception to presently over 2,500 women. The event attracts women from all cadres and walks of life- homemakers, entrepreneurs, civil servants, professionals, executives, etc.</p>
<p>The event has previously been held only in Lagos, but due to the influx of women from all over the country and the event's success rate, we have begun to spread its reach to other locations within and outside the country. Body, Soul & Spirit Ibadan was held in March 2014 & 2015, while other cities like Calabar, Port Harcourt and Abuja are lined up for future dates.</p>

</div>
		</div>

							<button class="button button-full " style="background:none !important; border:none !important;"></button>
							<button class="button button-full" style="background:none !important; border:none !important;"></button>	 
							</ion-scroll>		
	</ion-content>
	<div class="bar bar-footer" ng-controller="AdCtrl" style="background:#007cc2; height:60px !important; border: none !important; padding:0px !important">
	  <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="false">
		<ion-slide ng-repeat="n in slides">
				<img ng-src="{{n.imgurl}}" class="ad_img">
		</ion-slide>
		</ion-slide-box>
	</div>
</ion-view>