<ion-view view-title="Our Contacts" style="background:#fff;">
	<ion-content >
	
		<img src="img/ghai.jpg" class="home_img">
		 
	 <ion-scroll direction="y" style="height: 400px">
		<div style="background:#f2f2f2; padding:5px 10px 5px 10px; color:#00f; text-align: justify; font-style: italic;">
			Gem Publications
		</div>
		<div style="padding:5px 10px 5px 10px; margin-bottom:200px">
			
<p><b>ADDRESS</b><br/>
HOUSE 19, UNIT 4, LSDPC ESTATE, LOLA HOLLOWAY STREET, OMOLE PHASE 1, OJODU, LAGOS.
</p><p><b>TELEPHONE</b><br/>
08034083844, 07086561988, 08033021171, 08033926063, 08057356974 </p>


</div>
		</div>
	 </ion-scroll>		
	</ion-content>
</ion-view>