<ion-view view-title="gemSTONE CLUB" style="background:#fff; text-align: justify;">
	<ion-content >
	
		<img src="img/gemstone.jpg" class="home_img">
		 
	 <ion-scroll direction="y" style="height: 400px">
		<div style="background:#f2f2f2; padding:5px 10px 5px 10px; color:#00f; text-align: justify; font-style: italic;">
			gemStones Club, an exclusive female club, and an initiative of gemWOMAN, was established to build a community of vibrant women, from diverse professional and socio-cultural backgrounds with vast experiences that can positively shape each others world and impact a new generation of women, by associating, relating, connecting, and sharing ideas.
		</div>
		<div style="padding:5px 10px 5px 10px; margin-bottom:200px">
			<h4>Who We Are</h4>
<p>gemSTONES club is an exclusive female club that provides a forum for women to network; forging a bond with others, such synergy that empowers them to maximise their potential. gemSTONES is a considerably small, intimate group of Christian women, who desire to maximally fulfill their roles as wives, mothers, homemakers, entrepreneurs, executives, etc.; hence, they share, learn, and pray together on diverse pertinent issues ranging from finance, sex, relationship, homemaking, health, to entrepreneurship, parenting, etc. </p>
<p>The club usually holds quarterly meetings, which afford members the opportunity to engage in diverse impactful and interesting activities, ranging from financial seminars, spa sessions, luncheons, book club, amongst others.</p>
<p> In 2012, we held an open-house financial breakfast meeting with the theme- Breaking Financial Frontiers at Protea Hotel, GRA Ikeja. Speakers at the meeting were- Tomi Shomefun, Executive Director, UBA and Iquo Ukoh, Executive Director, Nestle Plc. It was a truly enlightening event, as we received commendations from attendees.</p>
<p>This year's edition of the financial meeting tagged- Raising Global Female Entrepreneurs held on the 10th of May, 2014, and featured the following speakers: Odein Ajumogobia- Former Minister of Petroleum and Foreign affairs; Funmi Ajila- President FADAN (Fashion Designers Association o Nigeria);  Yewande Zacchaeus- CEO, Eventful; and Ini Onuk, CEO, ThistlePraxis Consulting. The event aimed at empowering women to be positioned for global relevance.</p>
<h4>Our Purpose</h4>
<p>Often times, women are caught in the web of daily routines from playing the dutiful wife and the ever-energetic mother, to the office executive or business woman. That is apart from unending religious and social commitments. On the whole, many women are hardly able to either find the time or appropriate forum to regularly get refreshed and live a more balanced life. In line with the vision of gemWOMAN magazine, gemStones club was established to give the contemporary woman a support system that would revive and boost her zest for living, build a common ground for networking, and develop vibrant minds to meet present day challenges in career, family, finance, relationships and day to day living.</p>
<h4>Our Values</h4>
<ul class="list">
	<li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Giving today's woman a sense of value</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Enjoying everyday life despite the odds</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Fulfilling purpose</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Searching deeper truths for greater exploits</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Teaming up for better impact</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Openness of heart</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Newness of ideas</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Extolling the principles of Christ</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Showing forth the values of real gems</li>
</ul>
<h4>Our Motto</h4>
Showing forth the true worth of a gem
<h4>Our Activities</h4>
<ul class="list">
	<li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Ladies' evening out</li>
	<li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Discussion forums-etiquette, parenting, home making etc.</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Spa hour</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Fitness sessions</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Dinner solutions</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Book club</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Shopping treats</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Newness of ideas</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Travel club</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Boat cruise fellowship dinner</li>
	 
</ul>
<h4>Benefits</h4>
<ul class="list">
	<li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Discounts at selected stores, restaurants, supermarkets etc.</li>
	<li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Getting listed as a gemWOMAN subscriber, thus receiving a free copy of every issue of the magazine.</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Special advert discounts for potential advertisers (i.e. events, products or services).</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> Preferred seating at our events and seminars.</li>
    <li><i class="icon ion-ios-arrow-thin-right" style="color:#dd127b"></i> A free copy of gemStones' newsletters.</li>
</ul><div class="list">

  <div class="item item-divider">
    Our Terms
  </div>

  <a class="item">
    Payments- Members are required to pay up their subscription fee at most in two instalments. Members who default, will not participate in the club's activities or receive any benefits. Payments are non- refundable.
  </a>
  <a class="item">
     Data protection/confidentiality- As regards data protection, members can be assured that their information will be treated as confidential and lists of members will not be disclosed for public use.
  </a>
  <a class="item">
     Cancellation of membership- Members must inform us at least two months ahead if they desire to cancel their membership.
  </a>
  <a class="item">
     Change of details- Members should intimate us on change in address, telephone numbers, email etc., to ensure that all correspondences are sent correctly.
  </a>
  <a class="item">
     Keep the values- Members should ensure that the values of the club are adhered to, integrity is key.
  </a>
  <a class="item">
     Membership card protection- Members must ensure that their club card is safe and secured. If card is lost or stolen, please report to our customer care line on 08034083844. You may need to pay a fee to get a replacement, as we are not liable for the cost of replacement.
  </a>

  <a class="item">
      Card use: Membership card is not transferable; you are not allowed to transfer your card to any member of your family or friends. Members must always take their club card with them any time they visit our selected stores, supermarkets to make any purchase or attend our events for preferred seating.
  </a>
  <a class="item">
      Activities- Our activities hold quarterly; mainly on Saturdays or during public holidays. Members would be intimated via text messages, email or letters on upcoming events and activities.
  </a>
  <a class="item">
     Non-members- Members are not allowed to invite their friends, colleagues, family relations, who are non-members to club meetings/activities.
  </a>

  

</div>
		</div>
		<button class="button button-full " style="background:none !important; border:none !important;"></button>
							<button class="button button-full" style="background:none !important; border:none !important;"></button>
						
	 </ion-scroll>		
	 	
	</ion-content>
	<div class="bar bar-footer" ng-controller="AdCtrl" style="background:#007cc2; height:60px !important; border: none !important; padding:0px !important">
	  <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="false">
		<ion-slide ng-repeat="n in slides">
				<img ng-src="{{n.imgurl}}" class="ad_img">
		</ion-slide>
		</ion-slide-box>
	</div>
</ion-view>