<ion-view view-title="Post Content">
  <ion-content>
   <div style="margin-bottom:200px !important;">
		
        <img ng-src='{{play.thumbnail_images.full.url}}' style="width:100%;"/><br>
		<h3 style="padding: 0 10px 0 10px; color:#2a4304;">{{play.title}}</h3>
		<div style="padding: 0 10px 0px 10px; margin-bottom:100px !important; text-align: justify;  text-justify: inter-word;" ng-bind-html="play.content"></div>
			
      </div>
    <button class="button button-full " style="background:none !important; border:none !important;"></button>
		<button class="button button-full" style="background:none !important; border:none !important;"></button>
  </ion-content>
  <div class="bar bar-footer" ng-controller="AdCtrl" style="background:#007cc2; height:60px !important; border: none !important; padding:0px !important">
	  <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="false">
		<ion-slide ng-repeat="n in slides">
				<img ng-src="{{n.imgurl}}" class="ad_img">
		</ion-slide>
		</ion-slide-box>
	</div>	
</ion-view>
