<ion-view view-title="The Publisher" style="background:#fff; text-align: justify;">
	<ion-content >
	
		<img src="img/publisher.jpg" class="home_img">
		 
	 <ion-scroll direction="y" style="height: 400px">
		<div style="background:#f2f2f2; padding:5px 10px 5px 10px; color:#00f; text-align: justify; font-style: italic;">
			<b>Bolanle Olawale</b> is the Chief Executive Officer of gem Publications
		</div>
		<div style="padding:5px 10px 5px 10px; margin-bottom:200px">
			
<p>an excellence-driven publishing outfit that has been widely acclaimed as a dynamic organisation committed to the noble task of enriching and inspiring people to maximise living. She is the publisher of the gemWOMAN and gemMAN magazine, two contemporary lifestyle magazines that offer practical insights on all spheres of living, with an ever increasing readership base of presently over 60,000 people. </p>
<p>Under the visionary leadership of Bolanle Olawale, gem Publications has pioneered several initiatives that are committed to meeting certain salient needs in the society; initiatives that include- gem HIV/AIDS Initiative- a corporate social responsibility outreach to victims of HIV/AIDS; Body, Soul & Spirit- an annual women's event; Two Become One- a yearly couples' dinner that seeks to enhance family relationships and commitment; gemstones Club- an exclusive network of women who are set to be change agents in the society; and gem Publishing- the arm that specialises in the publishing of books, magazines, company's brochures, newsletters, etc.</p>
<p> <b>Body, Soul & Spirit</b>, one of the widely attended events gem Publications has become reputed for, was birthed in recognition of the need to provide an avenue for women to unwind, get refreshed and network. In the seven years of its existence- with eight editions held both within and outside Lagos, BSS, as it is also fondly referred to, has become a much anticipated and dearly loved programme by women from all walks of life as an average of a thousand participants have been in attendance, and it has attracted the sponsorship of reputable organisations such as - MTN, Nestle, Nutricima, NBC, GlaxoSmithkline, etc.</p>

<p>A graduate of Biochemistry from the University of Lagos, Bolanle Olawale, is married to Kunle Olawale, a renowned Project Management Consultant and she is the mother of 4 wonderful children.</p>

</div>
		</div>
		<button class="button button-full " style="background:none !important; border:none !important;"></button>
							<button class="button button-full" style="background:none !important; border:none !important;"></button>
	 </ion-scroll>
 	 
	</ion-content>
	<div class="bar bar-footer" ng-controller="AdCtrl" style="background:#007cc2; height:60px !important; border: none !important; padding:0px !important">
	  <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="false">
		<ion-slide ng-repeat="n in slides">
				<img ng-src="{{n.imgurl}}" class="ad_img">
		</ion-slide>
		</ion-slide-box>
	</div>	
</ion-view>