/* Empty. Add your own CSS if you like */
.home_img{
	/*width: 100% !important;
	max-width: 100% !important;
    padding: 0 !important;*/
	 max-width: 100% !important;
	  /*max-height: 100% !important;
	  bottom: 0 !important;
	  left: 0 !important;
	  margin: auto !important;
	  overflow: auto !important;
	  right: 0 !important;
	  top: 0 !important;*/
  
}
.ad_img{
	width: 100% !important;
    padding: 0 !important;
	height:60px;
}
.mainpage_ad_img{
	width: 100% !important;
    padding: 0 !important;
	
}
.header-bg{
	background:#007cc2;
}
.homecontent{
	background:url(../img/woman1.gif) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.buynow{
	color:#fff !important;
	font-size: 22px;
    line-height: 44px;
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
	text-decoration: none;
}
.button-gem{
	font-size:20px; 
	color:#fff; 
	text-align:left; 
	margin:0px !important; 
	border-color: #007cc2 !important;
}
.button-gem-bg1{
	background:#70C3EF !important; 
}
.button-gem-bg2{
	background:#87CCF2 !important; 
}
.bar-gem{
	background:#007cc2 !important;
}
.bar-gem-color{
	color: #ffffff !important;
}
.item{
	
   white-space: normal !important;
}
.search
{
    float: right;
    right: 25px;
    padding: 15px;
    width: 50px;
    height: 50px;
    margin-top: -35px;
    position:fixed;
    border-radius:80px;
    margin-right:-20px;
    background:#007cc2 !important;
    border-radius:80px;
}